<a href="https://colab.research.google.com/github/Debajyoti2000/Machine-learning/blob/main/wine_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import load_wine
wine=load_wine()

In [ ]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [ ]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [ ]:
wine.data.shape

(178, 13)

In [ ]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [ ]:
df=pd.DataFrame(wine.data,columns=wine.feature_names)
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [ ]:
df['wine_class']=wine.target 
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  wine_class
0    14.23        1.71  2.43  ...                          3.92   1065.0           0
1    13.20        1.78  2.14  ...                          3.40   1050.0           0
2    13.16        2.36  2.67  ...                          3.17   1185.0           0
3    14.37        1.95  2.50  ...                          3.45   1480.0           0
4    13.24        2.59  2.87  ...                          2.93    735.0           0

[5 rows x 14 columns]

In [ ]:
df.isna().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
wine_class                      0
dtype: int64

In [ ]:
df.groupby('wine_class').describe()

           alcohol                              ... proline
             count       mean       std    min  ...     25%     50%     75%     max
wine_class                                      ...
0             59.0  13.744746  0.462125  12.85  ...   987.5  1095.0  1280.0  1680.0
1             71.0  12.278732  0.537964  11.03  ...   406.5   495.0   625.0   985.0
2             48.0  13.153750  0.530241  12.20  ...   545.0   627.5   695.0   880.0

[3 rows x 104 columns]

In [ ]:
inputs=df.drop('wine_class',axis='columns')
target=df.wine_class

In [ ]:
inputs.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [ ]:
target

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: wine_class, Length: 178, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.25)

In [ ]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB

In [ ]:
model1=GaussianNB()
model2=MultinomialNB()

In [ ]:
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

1.0

In [ ]:
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.9333333333333333